Dada una lista de nombres `Juan, Jimena, Luis, Cristian, Laura, Lorena, Cristina, Jacobo, Jorge`:

1. Agrúpalos según su inicial. Por ejemplo de la lista: `Laura, Luis, Juan` el resultado sería:

    ``` text
    L Laura,Luis
    J Juan
    ```
    
2. De la lista original, obtén una muestra de 5 elementos usando `sample` sin repetir valores.
3. Devuelve una muestra de datos de aproximadamente la mitad de registros que la lista original con datos que no se repitan.

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate() 
sc = spark.sparkContext

In [19]:
lista = "Juan, Jimena, Luis, Cristian, Laura, Lorena, Luis, Cristina, Jacobo, Jorge"
listaPartida = lista.split(", ")
print(listaPartida)

['Juan', 'Jimena', 'Luis', 'Cristian', 'Laura', 'Lorena', 'Luis', 'Cristina', 'Jacobo', 'Jorge']

In [20]:
rdd = sc.parallelize(listaPartida);
iniciales = rdd.map(lambda x: (x[0], x))
iniciales.collect()

[('J', 'Juan'),
 ('J', 'Jimena'),
 ('L', 'Luis'),
 ('C', 'Cristian'),
 ('L', 'Laura'),
 ('L', 'Lorena'),
 ('L', 'Luis'),
 ('C', 'Cristina'),
 ('J', 'Jacobo'),
 ('J', 'Jorge')]

In [21]:
inicialNombres = iniciales.groupByKey()
inicialNombres.collect()

[('J', <pyspark.resultiterable.ResultIterable at 0x7f4dab793340>),
 ('L', <pyspark.resultiterable.ResultIterable at 0x7f4dab7b88b0>),
 ('C', <pyspark.resultiterable.ResultIterable at 0x7f4dab7b82b0>)]

In [22]:
inicialNombresLista = inicialNombres.map(lambda x: (x[0], list(x[1])))
inicialNombresLista.collect()

[('J', ['Juan', 'Jimena', 'Jacobo', 'Jorge']),
 ('L', ['Luis', 'Laura', 'Lorena', 'Luis']),
 ('C', ['Cristian', 'Cristina'])]

In [23]:
# 2 De la lista original, obtén una muestra de 5 elementos usando sample sin repetir valores
rdd.takeSample(False, 5)

['Luis', 'Laura', 'Cristina', 'Luis', 'Juan']

In [27]:
# 3. Devuelve una muestra de datos de aproximadamente la mitad de registros que la lista original con datos que pudieran llegar a repetirse.
rdd.sample(True, 0.5).collect()

['Jimena', 'Jimena', 'Jimena', 'Cristian', 'Cristian', 'Lorena']