 A partir de la lista siguiente `['Alicante','Elche','Valencia','Madrid','Barcelona','Bilbao','Sevilla']`:

    1. Almacena sólo las ciudades que tengan la letra `e` en su nombre y muéstralas.
    2. Muestra las ciudades que tienen la letra `e` y muestra el número de veces que aparece en cada nombre. Por ejemplo `(Elche, 2)`.
    3. Selecciona solo con las ciudades que tengan una única `e`.
    4. Nos han enviado una nueva lista pero no han separado bien las ciudades.. Vuelve a colocarlos y cuenta las apariciones de la letra `e` de cada ciudad.
    `ciudades_mal = [['Alicante.Elche','Valencia','Madrid.Barcelona','Bilbao.Sevilla'],['Murcia','San Sebastián','Melilla.Aspe']]`

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate() 
sc = spark.sparkContext

In [14]:
ciudades = ['Alicante','Elche','Valencia','Madrid','Barcelona','Bilbao','Sevilla']
rdd = sc.parallelize(ciudades)

In [16]:
# 1 Almacena sólo las ciudades que tengan la letra `e` en su nombre y muéstralas
rddE = rdd.filter(lambda x: 'e' in x.lower())
rddE.collect()

['Alicante', 'Elche', 'Valencia', 'Barcelona', 'Sevilla']

In [17]:
# 2 Muestra las ciudades que tienen la letra `e` y muestra el número de veces que aparece en cada nombre. Por ejemplo `(Elche, 2)`.
tuplaE = rddE.map(lambda x: (x, x.lower().count('e')))
tuplaE.collect()

[('Alicante', 1),
 ('Elche', 2),
 ('Valencia', 1),
 ('Barcelona', 1),
 ('Sevilla', 1)]

In [18]:
# 3 Selecciona solo con las ciudades que tengan una única `e`.
ciudades1E = tuplaE.filter(lambda x: x[1] == 1)
ciudades1E.collect()

[('Alicante', 1), ('Valencia', 1), ('Barcelona', 1), ('Sevilla', 1)]

In [22]:
# 4 Nos han enviado una nueva lista pero no han separado bien las ciudades.. 
# Vuelve a colocarlos y cuenta las apariciones de la letra `e` de cada ciudad.
ciudades_mal = [['Alicante.Elche','Valencia','Madrid.Barcelona','Bilbao.Sevilla'],['Murcia','San Sebastián','Melilla.Aspe']]

In [31]:
rddMal = sc.parallelize(ciudades_mal)
rddMalBien = rddMal.flatMap(lambda x: x)
rddMalBienBien = rddMalBien.flatMap(lambda x: x.split("."))
rddMalBienBienE = rddMalBienBien.map(lambda x: (x, x.lower().count('e')))
rddMalBienBienE.collect()

[('Alicante', 1),
 ('Elche', 2),
 ('Valencia', 1),
 ('Madrid', 0),
 ('Barcelona', 1),
 ('Bilbao', 0),
 ('Sevilla', 1),
 ('Murcia', 0),
 ('San Sebastián', 1),
 ('Melilla', 1),
 ('Aspe', 1)]