In [27]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("s8a-dataframes-sql").getOrCreate()

# Lectura de CSV con el ; como separador de columnas y con encabezado
df = spark.read.option("sep",";").option("header", "true").option("inferSchema", "true").csv("pdi_sales_small.csv")
    
df.printSchema()

root
 |-- ProductID: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Zip: string (nullable = true)
 |-- Units: integer (nullable = true)
 |-- Revenue: double (nullable = true)
 |-- Country: string (nullable = true)

In [26]:
spark

In [2]:
spark.catalog.listDatabases()

22/04/20 13:37:13 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
22/04/20 13:37:13 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
22/04/20 13:37:21 WARN ObjectStore: Version information not found in metastore. hive.metastore.schema.verification is not enabled so recording the schema version 2.3.0
22/04/20 13:37:21 WARN ObjectStore: setMetaStoreSchemaVersion called but recording version is disabled: version = 2.3.0, comment = Set by MetaStore aitormedrano@127.0.0.1

[Database(name='default', description='Default Hive database', locationUri="file:/Users/aitormedrano/OneDrive%20-%20Conselleria%20d'Educació/2122/bigdata/bigdata2122/docs/recursos/spark/spark-warehouse"),
 Database(name='s8a', description='', locationUri="file:/Users/aitormedrano/OneDrive%20-%20Conselleria%20d'Educació/2122/bigdata/bigdata2122/docs/recursos/spark/spark-warehouse/s8a.db")]

In [3]:
spark.catalog.currentDatabase()

'default'

In [4]:
spark.sql("create database if not exists s8a")
spark.sql("use s8a")

22/04/20 13:37:23 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException

DataFrame[]

In [5]:
spark.catalog.listDatabases()

[Database(name='default', description='Default Hive database', locationUri="file:/Users/aitormedrano/OneDrive%20-%20Conselleria%20d'Educació/2122/bigdata/bigdata2122/docs/recursos/spark/spark-warehouse"),
 Database(name='s8a', description='', locationUri="file:/Users/aitormedrano/OneDrive%20-%20Conselleria%20d'Educació/2122/bigdata/bigdata2122/docs/recursos/spark/spark-warehouse/s8a.db")]

In [6]:
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
|      s8a|
+---------+

In [7]:
df.createOrReplaceTempView("ventas")

In [8]:
spark.catalog.listTables()

[Table(name='ventase', database='s8a', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='ventaset', database='s8a', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='ventast', database='s8a', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='ventas', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [9]:
# spark.catalog.listColumns("ventas", dbName="default").show()

In [10]:
# Podemos almacenar un df como una tabla
df.write.format("parquet").mode("overwrite").saveAsTable("ventast")

22/04/20 13:37:37 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.
22/04/20 13:37:37 WARN HiveConf: HiveConf of name hive.internal.ss.authz.settings.applied.marker does not exist
22/04/20 13:37:37 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
22/04/20 13:37:37 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist

In [11]:
spark.catalog.listTables()

[Table(name='ventase', database='s8a', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='ventaset', database='s8a', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='ventast', database='s8a', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='ventas', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [12]:
ventasCanada = spark.sql("select * from ventast where trim(Country)='Canada'")
ventasCanada.show(3)

+---------+---------+---------------+-----+-------+-------+
|ProductID|     Date|            Zip|Units|Revenue|Country|
+---------+---------+---------------+-----+-------+-------+
|      725|1/15/1999|H1B            |    1|  115.4|Canada |
|     2235|1/15/1999|H1B            |    2|  131.1|Canada |
|      713|1/15/1999|H1B            |    1|  160.1|Canada |
+---------+---------+---------------+-----+-------+-------+
only showing top 3 rows

In [13]:
spark.sql("describe table ventast").show()

+---------+---------+-------+
| col_name|data_type|comment|
+---------+---------+-------+
|ProductID|      int|   null|
|     Date|   string|   null|
|      Zip|   string|   null|
|    Units|      int|   null|
|  Revenue|   double|   null|
|  Country|   string|   null|
+---------+---------+-------+

In [14]:
spark.sql("DROP TABLE ventase")
spark.sql("""CREATE TABLE ventase(ProductID INT, Date STRING, 
  Zip STRING, Units INT, Revenue DOUBLE, Country STRING) 
  USING csv OPTIONS (PATH 
  'pdi_sales_small.csv')""").show()

22/04/20 13:37:40 WARN HadoopFSUtils: The directory file:/Users/aitormedrano/OneDrive%20-%20Conselleria%20d'Educació/2122/bigdata/bigdata2122/docs/recursos/spark/spark-warehouse/s8a.db/pdi_sales_small.csv was not found. Was it deleted very recently?
22/04/20 13:37:40 WARN HiveExternalCatalog: Couldn't find corresponding Hive SerDe for data source provider csv. Persisting data source table `s8a`.`ventase` into Hive metastore in Spark SQL specific format, which is NOT compatible with Hive.

++
||
++
++

In [15]:
spark.sql("select * from ventase where trim(Country)='Canada'").show(3)

22/04/20 13:37:41 WARN HadoopFSUtils: The directory file:/Users/aitormedrano/OneDrive%20-%20Conselleria%20d'Educació/2122/bigdata/bigdata2122/docs/recursos/spark/spark-warehouse/s8a.db/pdi_sales_small.csv was not found. Was it deleted very recently?

+---------+----+---+-----+-------+-------+
|ProductID|Date|Zip|Units|Revenue|Country|
+---------+----+---+-----+-------+-------+
+---------+----+---+-----+-------+-------+

In [16]:
df.write.option("path", "/tmp/data/ventas").saveAsTable("ventaset")

AnalysisException: Table `ventaset` already exists.

In [ ]:
ventasCanada = spark.sql("select * from ventaset where trim(Country)='Canada'")
ventasCanada.show(3)

### Vistas

In [31]:
ventasCanada = spark.sql("select * from ventas where trim(Country)='Canada'")
ventasCanada.show(3)

+---------+---------+---------------+-----+-------+-------+
|ProductID|     Date|            Zip|Units|Revenue|Country|
+---------+---------+---------------+-----+-------+-------+
|      725|1/15/1999|H1B            |    1|  115.4|Canada |
|     2235|1/15/1999|H1B            |    2|  131.1|Canada |
|      713|1/15/1999|H1B            |    1|  160.1|Canada |
+---------+---------+---------------+-----+-------+-------+
only showing top 3 rows

In [32]:
df.createOrReplaceGlobalTempView("ventasg")

In [33]:
ventasCanadaG = spark.sql("select * from global_temp.ventasg where trim(Country)='Canada'")
ventasCanadaG.show(3)

+---------+---------+---------------+-----+-------+-------+
|ProductID|     Date|            Zip|Units|Revenue|Country|
+---------+---------+---------------+-----+-------+-------+
|      725|1/15/1999|H1B            |    1|  115.4|Canada |
|     2235|1/15/1999|H1B            |    2|  131.1|Canada |
|      713|1/15/1999|H1B            |    1|  160.1|Canada |
+---------+---------+---------------+-----+-------+-------+
only showing top 3 rows

In [34]:
spark.newSession().sql("select count(*) from global_temp.ventasg where trim(Country)='Canada'").show()

+--------+
|count(1)|
+--------+
|   30060|
+--------+

### Persistencia

In [17]:
df.show()

+---------+---------+---------------+-----+-------+-------+
|ProductID|     Date|            Zip|Units|Revenue|Country|
+---------+---------+---------------+-----+-------+-------+
|      725|1/15/1999|41540          |    1|  115.5|Germany|
|      787| 6/6/2002|41540          |    1|  314.9|Germany|
|      788| 6/6/2002|41540          |    1|  314.9|Germany|
|      940|1/15/1999|22587          |    1|  687.7|Germany|
|      396|1/15/1999|22587          |    1|  857.1|Germany|
|      734|4/10/2003|22587          |    1|  330.7|Germany|
|      769|2/15/1999|22587          |    1|  257.2|Germany|
|      499|1/15/1999|12555          |    1|  846.3|Germany|
|     2254|1/15/1999|40217          |    1|   57.7|Germany|
|       31|5/31/2002|40217          |    1|  761.2|Germany|
|      475|2/15/1999|13583          |    1|  970.2|Germany|
|      510|1/15/1999|22337          |    1|  837.1|Germany|
|      499| 6/5/2002|22337          |    1|  883.0|Germany|
|      289|2/15/1999|13587          |    1|  866.0|Germany|
|      702|2/15/1999|13587          |    1|  286.1|Germany|
|      910|3/15/1999|13587          |    1|  414.7|Germany|
|      901|2/15/1999|13587          |    2|  818.9|Germany|
|      550|1/15/1999|22177          |    1|  404.0|Germany|
|      559|1/15/1999|22177          |    1|  585.6|Germany|
|      767| 6/7/2002|22177          |    1|  105.0|Germany|
+---------+---------+---------------+-----+-------+-------+
only showing top 20 rows

In [29]:
df.persist()

DataFrame[ProductID: int, Date: string, Zip: string, Units: int, Revenue: double, Country: string]

In [30]:
df.count()

120239

In [36]:
ventasCanada.createOrReplaceTempView("ventasCanada")
spark.catalog.cacheTable("ventasCanada")

In [37]:
ventasCanada.count()

30060

22/04/20 15:30:05 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 2595369 ms exceeds timeout 120000 ms
22/04/20 15:30:05 WARN SparkContext: Killing executors is not supported by current scheduler.

In [28]:
df.unpersist()

DataFrame[ProductID: int, Date: string, Zip: string, Units: int, Revenue: double, Country: string]